body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
  line-height: 1.4;
  font-size: 14px;
  ul {
    list-style: none;
  }
}

nav {
  display: flex;
  justify-content: end;
  padding: 5px 10px;
  background-color: #222;
  a {
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: #bbb;
    background-color: #333;
  }
}

#hero-spot {
  padding: 4px 0 0;
  position: relative;
  overflow: hidden;
  background-color: #222;
  .logo {
    display: block;
    width: 169px;
    margin: 0 auto;
  }
  h1 {
    color: #fff;
    max-width: 830px;
    font-size: 48px;
    margin: 40px auto 0 auto;
    font-weight: 200;
    line-height: 60px;
    text-align: center;
  }
  h2 {
    color: #a7a7a7;
    line-height: 1.5em;
    max-width: none;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: 200;
    text-align: center;
    a {
      color: #efefef;
    }
  }
  #slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
    position: relative;
    .slide:first-child {
      opacity: 1;
      position: relative;
      z-index: 10;
    }
    .slide {
      margin: 0 auto;
      max-width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.6s ease-in-out;

      &.active {
        opacity: 1;
        z-index: 10;
      }
    }

    // transition
    @keyframes slideShow {
      0%,
      100% {
        opacity: 1;
      }
      25%,
      75% {
        opacity: 0;
      }
    }

    // running animations/slide
    .slide:nth-child(1) {
      animation: slideShow 20s infinite 0s;
    }
    .slide:nth-child(2) {
      animation: slideShow 20s infinite 16s;
    }
    .slide:nth-child(3) {
      animation: slideShow 20s infinite 32s;
    }
    .slide:nth-child(4) {
      animation: slideShow 20s infinite 48s;
    }
    .slide:nth-child(5) {
      animation: slideShow 20s infinite 64s;
    }
    .slide:nth-child(6) {
      animation: slideShow 20s infinite 80s;
    }
    .slide:nth-child(7) {
      animation: slideShow 20s infinite 96s;
    }
    .slide:nth-child(8) {
      animation: slideShow 20s infinite 112s;
    }
    .slide:nth-child(9) {
      animation: slideShow 20s infinite 128s;
    }
    .slide:nth-child(10) {
      animation: slideShow 20s infinite 144s;
    }
  }
}

#tutorial {
  padding-bottom: 20px;
  h1 {
    margin: 90px auto 0 auto;
    font-size: 48px;
    font-weight: 200;
    line-height: 60px;
    text-align: center;
    max-width: 910px;
    color: #333;
  }
  h2 {
    text-align: center;
    margin: 40px auto 0 auto;
    font-weight: 200;
    font-size: 21px;
    max-width: 740px;
  }
  .tabs1 {
    padding-right: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px auto 0;
    font-size: 0;
    list-style: none;
    li {
      font-size: 15px;
      margin: 0;
      display: inline-block;
    }
    li:first-child a {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    li:nth-child(even) a {
      margin: 0 1px;
    }

    li:last-child a {
      margin-left: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    a {
      color: #323232;
      padding: 10px 20px;
      display: inline-block;
      border: 1px solid #dddddd;
      position: relative;
      line-height: 1em;
      text-decoration: none;
    }
    a.selected {
      color: #fff;
      background-color: #327fc7;
      border-color: #327fc7;
      outline: none;
    }
  }
  .tutorial-list {
    padding-right: 4rem;
    #create-repo-step {
      margin-top: 90px;
      margin-bottom: 70px;
      background: #fff url(assets/section-tutorial/user-repo@2x.png) right 0
        no-repeat;
      border-radius: 5px;
      background-size: 446px 328px;
      border: 1px #ddd solid;
      padding: 2rem;
      text-align: center;
      h4 {
        width: 50%;
        font-size: 30px;
        font-weight: 300;
        line-height: 1em;
      }
      p {
        font-size: 18px;
        width: 50%;
        font-weight: 300;
        line-height: 1.7em;
      }
      .details {
        font-size: 14px;
        font-weight: 400;
      }
      a {
        text-decoration: none;
        color: #4183c4;
      }
    }
    .image-right {
      padding-right: 440px;
    }
  }
  .wrapper {
    position: relative;
    width: 980px;
    margin: 0 auto;
  }
  ul {
    list-style: none;
  }
  .question {
    text-align: center;
    margin-bottom: 70px;
    border: 1px #ddd solid;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 0 60px;
    h4 {
      font-size: 30px;
      font-weight: 300;
      line-height: 1em;
    }
    .tabs2 {
      margin: 30px auto 0;
      padding-right: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 45px auto 0;
      font-size: 0;
      list-style: none;
      li {
        font-size: 15px;
        margin: 0;
        display: inline-block;
      }
      li:first-child a {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      li:nth-child(even) a {
        margin: 0 1px;
      }

      li:last-child a {
        margin-left: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      a {
        color: #323232;
        padding: 10px 20px;
        display: inline-block;
        border: 1px solid #dddddd;
        position: relative;
        line-height: 1em;
        text-decoration: none;
      }
      a.selected {
        color: #fff;
        background-color: #327fc7;
        border-color: #327fc7;
        outline: none;
      }
    }
  }
  .option-terminal {
    text-align: center;
    margin-bottom: 70px;
    border: 1px #ddd solid;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 0 60px;
    h4 {
      font-size: 30px;
      font-weight: 300;
      line-height: 1em;
    }
    p {
      margin: 30px 120px 30px;
      font-weight: 300;
      line-height: 1.7em;
      font-size: 20px;
    }
    .terminal {
      width: 75%;
      margin: 30px auto 0;
      .header {
        border: 1px solid #9c9c9c;
        border-bottom-color: #111;
        display: block;
        height: 25px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        text-align: center;
        font-size: 13px;
        line-height: 25px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
        color: #444;
      }
      .shell {
        font-family: Consolas, "Liberation Mono", Courier, monospace;
        font-size: 17px;
        line-height: 28px;
        color: #eeeb82;
        background-color: #3d3d3d;
        overflow: hidden;
        padding: 20px;
        margin: 0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        text-align: left;
        display: block;
        p {
          margin: 0;
          font-weight: bold;
          line-height: 1.7em;
          .path {
            color: #71cfee;
            user-select: none;
            padding-right: 0.6em;
          }
          .prompt {
            color: #d74d52;
            user-select: none;
            padding-right: 0.6em;
          }
          .em {
            font-style: italic;
          }
        }
      }
    }
  }
  .option-all {
    background-color: #fff;
    border-radius: 5px;
    background-size: 446px 328px;
    border: 1px #ddd solid;
    padding: 2rem;
    text-align: center;
    h4 {
      font-size: 30px;
      font-weight: 300;
      line-height: 1em;
    }
    p {
      margin: 30px 120px 30px;
      font-weight: 300;
      line-height: 1.7em;
    }
    .hero-octicon {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      text-align: center;
      border: solid 1px #e5e5e5;
      margin: 0 auto 15px;
      display: block;
      .mega-octicon {
        font-size: 48px;
        display: inline-block;
        text-decoration: none;
        color: #4183c4;
        line-height: 100px;
      }
    }
  }
}

#next-steps {
  margin-top: 80px;
  font-weight: 400;
  h1 {
    margin: 90px auto 0 auto;
    font-size: 48px;
    font-weight: 200;
    line-height: 60px;
    text-align: center;
    max-width: 910px;
    color: #333;
  }
  .wrapper {
    padding-top: 80px;
    padding-right: 40px;
    position: relative;
    width: 980px;
    margin: 0 auto;
  }
  li {
    padding: 0 20px 0;
    display: table-cell;
    text-align: center;
    .hero-octicon {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      text-align: center;
      border: solid 1px #e5e5e5;
      margin: 0 auto 15px;
      display: block;
      margin-bottom: 35px;
      .mega-octicon {
        font: normal normal 48px octicons;
        display: inline-block;
        text-decoration: none;
        color: #4183c4;
        line-height: 100px;
      }
    }
    h4 {
      font-size: 30px;
      font-weight: 300;
      line-height: 1em;
    }
    p {
      margin: 15px 0 30px;
      line-height: 1.7em;
    }
    a {
      text-decoration: none;
      color: #4183c4;
    }
  }
  li:first-child {
    padding-left: 0;
    padding-right: 0;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  clear: both;
  width: 980px;
  padding: 40px 0;
  margin: 70px auto 0 auto;
  border-top: 1px solid #eee;
  .site-footer-links {
    li {
      margin-left: 10px;
      display: inline-block;
    }
    li:first-child {
      margin-left: 0;
    }
  }
  .right {
    display: flex;
    li {
      margin-left: 20px;
    }
  }
  a {
    color: #4183c4;
    text-decoration: none;
  }
  .octicon-mark-github {
    position: absolute;
    top: 48px;
    left: 50%;
    color: #ccc;
    font-size: 24px;
    line-height: 1;
  }
}

// RESPONSIVE START
@media screen and (max-width: 430px) {
  nav {
    border-bottom: 1px #333 solid;
    padding-top: 1rem;
    a {
      padding: 8px 16px 8px auto;
      font-size: 12px;
    }
  }
  #hero-spot {
    padding-top: 4rem;
    .logo {
      width: 120px;
    }
    h1 {
      width: 75%;
      font-size: 32px;
      line-height: 40px;
      margin-top: 20px;
    }
    h2 {
      width: 91%;
      margin-left: 1rem;
    }
  }
  #tutorial {
    h1 {
      margin-top: 30px;
      font-size: 28px;
      line-height: normal;
      width: 91%;
    }
    h2 {
      font-size: 14px;
    }
    .tabs1 {
      li {
        font-size: 12px;
      }
      li:last-child a {
        padding: 12px;
        margin-left: 8px;
      }
      a.selected {
        width: 80%;
      }
    }
    .tutorial-list {
      padding-left: 0;
      #create-repo-step {
        border-radius: 0;
        padding: 0;
        width: 45%;
        height: 80%;
        background-size: 220px 200px;
        .desc {
          padding-right: 0;
          h4 {
            margin-bottom: 2rem;
            padding-left: 1rem;
            font-size: 20px;
            width: 12rem;
          }
          p {
            margin-bottom: 16px;
            font-size: 8px;
          }
          .details {
            margin-bottom: 2rem;
            font-size: 8px;
          }
        }
      }
    }
    .question {
      border-radius: 0;
      width: 40%;
      h4 {
        font-size: 24px;
      }
      .tabs2 {
        padding: 0;
        li {
          font-size: 12px;
          padding: 0;
          margin: 0;
        }
      }
    }
    .option-terminal {
      width: 45%;

      border-radius: 0;
      h4 {
        width: 70%;
        margin-left: 4rem;
        // border: blue solid;
      }
      p {
        margin-left: 2rem;
        padding-left: 20px;
        width: 75%;
        font-size: 16px;
      }
      .terminal {
        margin-left: 3rem;
        width: 80%;
        p {
          width: 100%;
          padding: 0;
          margin: 0;
          font-size: 12px;
        }
      }
    }
    .option-all {
      width: 40%;
      h4 {
        margin-left: 2rem;
        width: 75%;
      }
      p {
        margin-left: 2rem;
        width: 75%;
      }
      .hero-octicon {
        margin-left: 8rem;
      }
    }
  }
  #next-steps {
    margin: 0;
    h1 {
      padding-bottom: 2rem;
      width: 80%;
      font-size: 32px;
      line-height: 1em;
    }
    .wrapper {
      margin: 0;
      padding: 0;
      width: 80%;
      li {
        padding: 0;
        padding-top: 20px;
        padding-right: 16px;
        padding-left: 18px;
        margin: 0;
      }
      p {
        font-size: 12px;
      }
    }
  }
  footer {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    .right {
      flex-direction: column;
      text-align: right;
      font-size: 12px;

      li {
        margin-top: 4px;
      }
    }
    .octicon-mark-github {
      margin-top: 4rem;
      left: 47%;
    }
    .left {
      display: flex;
      flex-direction: column;
      padding-bottom: 16rem;
      padding: 0;
    }
  }
}
// RESPONSIVE END
