body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #f5f5f5;
  line-height: 1.4;
  font-size: 14px;
}

nav {
  display: flex;
  justify-content: end;
  padding: 2rem 2rem 2rem 0;
  background-color: #222;
  a {
    font-weight: bold;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    color: #bbb;
    background-color: #333;
  }
}

#hero-spot {
  padding: 40px 0 0;
  position: relative;
  overflow: hidden;
  background-color: #222;
  .logo {
    display: block;
    width: 169px;
    margin: 0 auto;
  }
  h1 {
    color: #fff;
    max-width: 830px;
    margin-top: 50px;
    font-size: 48px;
    margin: 90px auto 0 auto;
    font-weight: 200;
    line-height: 60px;
    text-align: center;
  }
  h2 {
    color: #a7a7a7;
    line-height: 1.5em;
    max-width: none;
    font-size: 18px;
    margin: 10px auto 60px;
    font-weight: 200;
    text-align: center;
    a {
      color: #efefef;
    }
  }
  #slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto 0;
    position: relative;
    // Menampilkan slide pertama
    .slide:first-child {
      opacity: 1;
      position: relative;
      z-index: 10;
    }

    // Semua slide diatur awalnya tidak terlihat
    .slide {
      margin: 0 auto;
      max-width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0; // Set semua slide tidak terlihat
      z-index: 1; // Set z-index lebih rendah dari slide aktif
      transition: opacity 0.6s ease-in-out;

      // Set slide aktif
      &.active {
        opacity: 1;
        z-index: 10;
      }
    }

    // Animasi transisi antar slide
    @keyframes slideShow {
      0%,
      100% {
        opacity: 1;
      } // Slide tampil penuh
      25%,
      75% {
        opacity: 0;
      } // Slide tidak terlihat
    }

    // Menjalankan animasi untuk setiap slide
    /* Menjalankan animasi untuk setiap slide */
    .slide:nth-child(1) {
      animation: slideShow 20s infinite 0s;
    }
    .slide:nth-child(2) {
      animation: slideShow 20s infinite 16s;
    }
    .slide:nth-child(3) {
      animation: slideShow 20s infinite 32s;
    }
    .slide:nth-child(4) {
      animation: slideShow 20s infinite 48s;
    }
    .slide:nth-child(5) {
      animation: slideShow 20s infinite 64s;
    }
    .slide:nth-child(6) {
      animation: slideShow 20s infinite 80s;
    }
    .slide:nth-child(7) {
      animation: slideShow 20s infinite 96s;
    }
    .slide:nth-child(8) {
      animation: slideShow 20s infinite 112s;
    }
    .slide:nth-child(9) {
      animation: slideShow 20s infinite 128s;
    }
    .slide:nth-child(10) {
      animation: slideShow 20s infinite 144s;
    }
  }
}

#tutorial {
  padding-bottom: 20px;
  h1 {
    margin: 90px auto 0 auto;
    font-size: 48px;
    font-weight: 200;
    line-height: 60px;
    text-align: center;
    max-width: 910px;
    color: #333;
  }
  h2 {
    text-align: center;
    margin: 40px auto 0 auto;
    font-weight: 200;
    font-size: 21px;
    max-width: 740px;
  }
  .tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 45px auto 0;
    font-size: 0;
    list-style: none;
    li {
      font-size: 15px;
      margin: 0;
      display: inline-block;
    }
    li:first-child a {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    li:nth-child(even) a {
      margin: 0 1px;
    }

    li:last-child a {
      margin-left: 0;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    a {
      color: #323232;
      padding: 10px 20px;
      display: inline-block;
      border: 1px solid #dddddd;
      position: relative;
      line-height: 1em;
      transition: all 0.2s ease-in-out 0s;
      text-decoration: none;
    }
    a.selected {
      z-index: 20;
      color: #fff;
      background-color: #327fc7;
      border-color: #327fc7;
      outline: none;
    }
  }
  .tutorial-list {
    border: blue solid;
    counter-reset: tutorialStep;
    #create-repo-step {
      margin-top: 90px;
      margin-bottom: 70px;
      background: #fff url(assets/section-tutorial/user-repo@2x.png) right 0
        no-repeat;
      border-radius: 5px;
      background-size: 446px 328px;
      border: 1px #ddd solid;
      padding: 2rem;
      text-align: center;
      h4 {
        width: 50%;
        font-size: 30px;
        font-weight: 300;
        line-height: 1em;
      }
      p {
        width: 50%;
        font-weight: 300;
        line-height: 1.7em;
      }
      a {
        text-decoration: none;
        color: #4183c4;
      }
    }
    .image-right {
      padding-right: 440px;
    }
  }
  .wrapper {
    position: relative;
    width: 980px;
    margin: 0 auto;
  }
  ul {
    list-style: none;
  }
  .question {
    text-align: center;
    margin-bottom: 70px;
    border: 1px #ddd solid;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 0 60px;
    h4 {
      font-size: 30px;
      font-weight: 300;
      line-height: 1em;
    }
    .tabs {
      margin: 30px auto 0;
    }
  }
  .option-terminal {
    border: red solid;
    text-align: center;
    margin-bottom: 70px;
    border: 1px #ddd solid;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 0 60px;
    h4 {
      font-size: 30px;
      font-weight: 300;
      line-height: 1em;
    }
    p {
      margin: 30px 120px 30px;
      font-weight: 300;
      line-height: 1.7em;
      font-size: 20px;
    }
    .terminal {
      width: 75%;
      margin: 30px auto 0;
      .header {
        border: 1px solid #9c9c9c;
        border-bottom-color: #111;
        display: block;
        height: 25px;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        text-align: center;
        font-size: 13px;
        line-height: 25px;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
        color: #444;
      }
      .shell {
        font-family: Consolas, "Liberation Mono", Courier, monospace;
        font-size: 17px;
        line-height: 28px;
        color: #eeeb82;
        background-color: #3d3d3d;
        overflow: hidden;
        padding: 20px;
        margin: 0;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        text-align: left;
        display: block;
        p {
          margin: 0;
          font-weight: bold;
          line-height: 1.7em;
          .path {
            color: #71cfee;
            user-select: none;
            padding-right: 0.6em;
          }
          .prompt {
            color: #d74d52;
            user-select: none;
            padding-right: 0.6em;
          }
          .em {
            font-style: italic;
          }
        }
      }
    }
  }
  .option-all {
    background-color: #fff;
    border-radius: 5px;
    background-size: 446px 328px;
    border: 1px #ddd solid;
    padding: 2rem;
    text-align: center;
    h4 {
      font-size: 30px;
      font-weight: 300;
      line-height: 1em;
    }
    p {
      margin: 30px 120px 30px;
      font-weight: 300;
      line-height: 1.7em;
    }
    .hero-octicon {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      text-align: center;
      border: solid 1px #e5e5e5;
      margin: 0 auto 15px;
      display: block;
      transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out 0s;
      .mega-octicon {
        font-size: 48px;
        display: inline-block;
        text-decoration: none;
        -webkit-font-smoothing: antialiased;
        color: #4183c4;
        line-height: 100px;
      }
    }
  }
}
